<section class="container-fluid p20">
        <br>
        <div class="row text-center">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="divCampus">
                    <img src="images/campus/1T3F1696.jpeg" class="img-responsive center-block imgCampus" alt="">
                    <br>
                    <p class="textGris2">Guadalajara</p>
                    <a href="#verCampus" class="btn btnVer">VER</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="divCampus">
                    <img src="images/campus/3.jpg" class="img-responsive center-block imgCampus" alt="">
                    <br>
                    <p class="textGris2">Ciudad de méxico</p>
                    <a href="#verCampus" class="btn btnVer">VER</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="divCampus">
                    <img src="images/campus/16840893.jpg" class="img-responsive center-block imgCampus" alt="">
                    <br>
                    <p class="textGris2">Querétaro</p>
                    <a href="#verCampus" class="btn btnVer">VER</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="divCampus">
                    <img src="images/campus/Campus+TAM+1.jpeg" class="img-responsive center-block imgCampus" alt="">
                    <br>
                    <p class="textGris2">Cuernavaca</p>
                    <a href="#verCampus" class="btn btnVer">VER</a>
                </div>
            </div>
        </div>
        <div class="row text-center">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                    <div class="divCampus">
                        <img src="images/campus/69daa.jpg" class="img-responsive center-block imgCampus" alt="">
                        <br>
                        <p class="textGris2">León</p>
                        <a href="#verCampus" class="btn btnVer">VER</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="divCampus">
                        <img src="images/campus/14_img3.JPG" class="img-responsive center-block imgCampus" alt="">
                        <br>
                        <p class="textGris2">Toluca</p>
                        <a href="#verCampus" class="btn btnVer">VER</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="divCampus">
                        <img src="images/campus/9.jpg" class="img-responsive center-block imgCampus" alt="">
                        <br>
                        <p class="textGris2">Morelia</p>
                        <a href="#verCampus" class="btn btnVer">VER</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="divCampus">
                        <img src="images/campus/17.jpg" class="img-responsive center-block imgCampus" alt="">
                        <br>
                        <p class="textGris2">Veracruz</p>
                        <a href="#verCampus" class="btn btnVer">VER</a>
                    </div>
                </div>
            </div>
    </section>