<section class="container-fluid">
    <p class="ptb20 textH">Para uso
        <span class="textH1">exclusivo</span> de comunidad y amigos del
        <span class="textH1">TEC de Monterrey</span>.Si deseas contar con alguno de estos canales de procuración a
        <span class="textH1">donativos@servicios.itesm.mx</span>
    </p>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 p0">
            <ul class="tabHerramientas">
                <li ng-click="setTab(1)">
                    <a href=""><strong>Productos con causa</strong>
                        <p class="ptb5 m0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam cupiditate quae dolorem.</p>
                    </a>
                </li>
                <li ng-click="setTab(2)">
                    <a href=""><strong>Carrera virtual</strong>
                        <p class="ptb5 m0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam cupiditate quae dolorem.</p>
                    </a>
                </li>
                <li ng-click="setTab(3)">
                    <a href=""><strong>Eventos con causa</strong>
                        <p class="ptb5 m0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam cupiditate quae dolorem.</p>
                    </a>
                </li>
                <li ng-click="setTab(4)">
                    <a href=""><strong>Crowfunding</strong>
                        <p class="ptb5 m0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam cupiditate quae dolorem.</p>
                    </a>
                </li>
                <li ng-click="setTab(5)">
                    <a href=""><strong>Dona ahora</strong>
                        <p class="ptb5 m0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam cupiditate quae dolorem.</p>
                    </a>
                </li>
                <li ng-click="setTab(6)">
                    <a href=""><strong>Amigos 1 a 1</strong>
                        <p class="ptb5 m0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam cupiditate quae dolorem.</p>
                    </a>
                </li>
                <li ng-click="setTab(7)">
                    <a href=""><strong>Dona por teléfono</strong>
                        <p class="ptb5 m0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam cupiditate quae dolorem.</p>
                    </a>
                </li>
                
            </ul>

        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div ng-show="isSet(1)">
                <img src="images/herramientas/imgtab.png" class="img-responsive" alt="">
            </div>
            <div ng-show="isSet(2)">
                <img src="images/herramientas/imgtab1.png" class="img-responsive" alt="">
            </div>
            <div ng-show="isSet(3)">
                <img src="images/herramientas/imgtab2.png" class="img-responsive" alt="">
            </div>
            <div ng-show="isSet(4)">
                <img src="images/herramientas/imgtab3.png" class="img-responsive" alt="">
            </div>
            <div ng-show="isSet(5)">
                <p>tab 5</p>
            </div>
            <div ng-show="isSet(6)">
                <p>tab 6</p>
            </div>
            <div ng-show="isSet(7)">
                <p>tab 7</p>
            </div>
        </div>
    </div>

</section>