<div class="container-fluid">
    <div class="row backTec">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 backBlue">
          <div class="vcenter alignMain">
            <h1 class="textTitle">Bienvenidos a</h1>
            <h1 class="textTitle">donar.tec.mx</h1>
            <br>
            <p class="textMain">¡Gracias¡ Por creer junto con nosostros en un mejor país a través del impulso
              <br>a la educación .Por cada peso que dones sorteos Tec aportará otro más </p>
            <br>
            <button class="btn btnTec" type="submit">Buscar por
              <span class="textNegrita">Causas</span>
            </button>
            <button class="btn btnTec" type="submit">Buscar por
              <span class="textNegrita">Campus</span>
            </button>
          </div>
        </div>
      </div>
</div>
