<section class="container-fluid p20">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <h1 class="textCausa">Centro EXATEC</h1>
            <img src="images/causas/img-causa.jpg" class="img-responsive imgPrincipal" alt="">
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <p class="pt65 textGris">Total Recaudado</p>
            <h2 class="textAzul">$ 1,399,887.50</h2>
            <br>
            <div class="dropdown">
                    <button class="btn btnDrop dropdown-toggle" style="width:70%" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="true">
                        <span class="pull-left">Causas</span>
                        <span class="caret pull-right" style="margin-top:10px;"></span>
                    </button>
                    <ul class="dropdown-menu dropdown1" aria-labelledby="dropdownMenu1">
                        <li>
                            <a href="#">Exatec</a>
                        </li>
                        <li>
                            <a href="#">Lideres del mañana</a>
                        </li>
                        <li>
                            <a href="#">Prepanet</a>
                        </li>
                        <li>
                            <a href="#">Red de filantropia</a>
                        </li>
                        <li>
                            <a href="#">DAE - Grupo de estudiantes</a>
                        </li>
                    </ul>
                </div>
            <br>
            <div>
                <img src="images/causas/icons-02.png" class="imgverCausa" alt="">
                <span class="textGris1"> 250 </span>
                <span class="textGris2">donantes</span>
            </div>
            <br>
            <div>
                <span class="textGris">Compartir en</span>
                <a href="">
                    <img src="images/causas/social media icons-01.png" class="imgSocial1" alt="">
                </a>
                <a href="">
                    <img src="images/causas/social media icons-02.png" class="imgSocial1" alt="">
                </a>
                <a href="">
                    <img src="images/causas/social media icons-03.png" class="imgSocial1" alt="">
                </a>
            </div>
            <a href="#dona" class="btn btnDona1">DONAR</a>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <br>
            <p class="textVercausa pt20">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatem odio architecto, quod quaerat atque! Sit, esse voluptatem. Veniam nostrum exercitationem autem quia distinctio, reprehenderit minima sequi cumque. Facere, nulla!</p>
        <p class="textCausa1 ptb20">Formas de apoyar a esta causa</p>
      <ul class="enlaces">
          <div class="row">
               <div class="col-lg-3">
                    <li><a href="" class="enlaces1">Productos con causa </a></li>
                    <li><a href="" class="enlaces1">Carrera virtual </a></li>
                    <li><a href="" class="enlaces1">Eventos con causa </a></li>
                    <li><a href="" class="enlaces1">Crowdfunding </a></li>
               </div>
               <div class="col-lg-3">
                    <li><a href="" class="enlaces1">Dona ahora </a></li>
                    <li><a href="" class="enlaces1">Amigos 1 a 1 </a></li>
                    <li><a href="" class="enlaces1">Donar por teléfono </a></li>
               </div>
          </div>
      </ul>
        </div>
    </div>
</section>